* {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}
.blink {
  animation: blinker 2s linear infinite;
  color: #0078f6;
  margin-bottom: 20px;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

.hero-sheet {
  height: 65vh;
  width: 100%;
  background: linear-gradient(to top, rgb(0, 0, 0), rgba(0, 0, 0, 0.57)),
    url(https://unread.today/files/007afc64-288a-4208-b9d7-3eda84011c1d/1451f11e03da76480966b636a622119a.jpg);
}

.header {
  padding-left: 80px;
  padding-right: 80px;
  padding-top: 24px;
  padding-bottom: 19px;

  height: 42px;
  display: flex;
  justify-content: space-between;
}

.header-left {
  display: flex;
  align-items: center;
}

.header-right {
  display: flex;
  align-items: center;
}

.Socials {
  opacity: 40%;
  size: 60px;
  display: flex;
  height: 15px;
}

.Social-1 {
  margin-left: 10px;
}

.uk-container-center {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  width: 1425px;
  gap: 60px;
}

.Cover {
  width: 446.4px;
  height: 446.4px;
  border-radius: 20px;
  background-image: url(Cover.png);
  background-size: 120%;
  transition: all 0.5s;
  background-position: center;
  background-repeat: no-repeat;
}

.Cover:hover {
  background-size: 130%;
}

.Cover-Right {
  width: 1116px;
}

.Cover-Bottom {
  font-size: 35px;
}

.Name {
  display: flex;
  flex-direction: column;
  gap: 3px;
  margin-left: 5px;
}

.Editors-Slider {
  width: 100%;
  height: 327px;
  background-color: #000000;
}

.Editors-Choice {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.section-tile {
  display: flex;
  gap: 800px;
  width: 1116px;
  margin-left: auto;
  margin-right: auto;
}

.slider-nav {
  width: 52px;
  height: 27px;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 0;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Pictures {
  margin-top: 20px;
  display: flex;
  width: 293px;
  height: 433px;
  padding: 20px;
  border-radius: 20px;
  background-size: 150%;
  background-position: center;
  background-repeat: no-repeat;
  transition: all 0.2s;
}

.Pictures:hover {
  transform: scale(1.1);
}

.uk-container {
  margin: 0 auto;
  padding-top: 300px;
  max-width: 60%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.uk-overlay-hover {
  width: 623px;
  height: 135px;
  margin-top: 10px;
  border-radius: 0 2.7rem 2.7rem 2.7rem;
  box-shadow: 0px 0px 50px 4px rgba(209, 209, 209, 0.5);
  padding-left: 51px;
  padding-top: 28px;
  padding-right: 65px;
  padding-bottom: 20px;
  display: flex;
}
.uk-overlay-hover:hover {
  box-shadow: 0px 0px 50px 4px rgba(209, 209, 209, 1);
}

.uk-overlay-hover1 {
  width: 623px;
  height: 135px;
  margin-top: 10px;
  border-radius: 2.7rem 0 2.7rem 2.7rem;
  box-shadow: 0px 0px 50px 4px rgba(209, 209, 209, 0.5);
  padding-left: 65px;
  padding-top: 28px;
  padding-right: 51px;
  padding-bottom: 20px;
  display: flex;
}
.uk-overlay-hover1:hover {
  box-shadow: 0px 0px 50px 4px rgba(209, 209, 209, 1);
}

.article-right {
  align-self: flex-end;
}
.author {
  display: flex;
  margin-top: 30px;
}
.article-item {
  transition: all 0.3s;
}
.article-item:hover {
  transform: translateY(-0.5rem);
}
.author-right {
  flex-direction: row-reverse;
  text-align: end;
}
.article-image {
  width: 135px;
  height: 135px;
  border-radius: 100px;
}
.grid-top {
  width: 200px;
  height: 20px;
  padding: 20px;
  color: #888888;
  display: flex;
  justify-content: center;
  border-bottom: 2px solid transparent;
}
.grid-top:hover {
  color: #0078f6;
  border-bottom: #0078f6 solid 2px;
}
.grid-container {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 300px 20px 250px;
  gap: 30px;
}
.grid-container > div {
  background-color: white;
  border-radius: 20px;
  font-size: 30px;
}
.item1 {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;
  transition: all 0.2s;
  background-image: url("https://unread.today/files/44/dae5926927fbc750bb89d6fbcb849988_square.jpg");
} .item1:hover {
  transform: translateY(-0.3rem);
  box-shadow: 0px 0px 50px 4px rgba(209, 209, 209, 1);
}
.item2 {
  background-position-x: 40%;
  transition: all 0.2s;
  background-image: url("https://unread.today/files/e8e08e0b-2c4f-4f62-83e2-43a512c166d6/b8bcf5c366f45f8378aef8c1e965c76f_square.jpg");
}.item2:hover {
  transform: translateY(-0.3rem);
  box-shadow: 0px 0px 50px 4px rgba(209, 209, 209, 1);
}
.item3 {
  background-position-x: 50%;
  transition: all 0.2s;
  background-image: url("https://unread.today/files/007afc64-288a-4208-b9d7-3eda84011c1d/c6fbb2973acd5506343fa07d3cddea9b_square.jpeg");
}.item3:hover {
  transform: translateY(-0.3rem);
  box-shadow: 0px 0px 50px 4px rgba(209, 209, 209, 1);
}
.item4 {
  background-position-x: 50%;
  transition: all 0.2s;
  background-image: url("https://unread.today/files/fb0f77dd-ca16-4803-8f17-83cccdc85cb1/f4bb028984e18be1b7d4d1a72b38bf4e_square.jpg");
}.item4:hover {
  transform: translateY(-0.3rem);
  box-shadow: 0px 0px 50px 4px rgba(209, 209, 209, 1);
}
.item5 {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 4;
  transition: all 0.2s;
  background-image: url("https://unread.today/files/dca82359-3f6e-4c03-99ef-ef493c68a7aa/ad89c451d602bd41643570292fc39d87_square.jpg");
} .item5:hover {
  transform: translateY(-0.3rem);
  box-shadow: 0px 0px 50px 4px rgba(209, 209, 209, 1);
}
.item6 {
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 2;
  grid-row-end: 4;
  transition: all 0.2s;
  background-image: url("https://unread.today/files/007afc64-288a-4208-b9d7-3eda84011c1d/3109a2598fe27dcb0e7ab5aab4d45671_square.jpg");
} .item6:hover {
  transform: translateY(-0.3rem);
  box-shadow: 0px 0px 50px 4px rgba(209, 209, 209, 1);
}
.item7 {
  transition: all 0.2s;
  background-image: url("https://unread.today/files/007afc64-288a-4208-b9d7-3eda84011c1d/ce19f391e8728695fc34c841c62bd301_square.jpg");
} .item7:hover {
  transform: translateY(-0.3rem);
  box-shadow: 0px 0px 50px 4px rgba(209, 209, 209, 1);
}
